:root {
  --darkblue: #13467D;
  --lightblue: #55A1D3;
  --orange: #F27B1F;
  --yellow: #F9B316;
  --gray: #4e4e4e;
  --burntsienna: #e74c3c;
  --blackish: #2f2f2f;
}

* {
  font-family: "Open Sans";
  /* DEBUGGING CSS BELOW! GREAT CODE 
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

body, section {
  line-height: 1.8;
  font-weight: 500;
  color: #f5f6f7;
  block-size:100%;
}

html {
  scroll-snap-type: y mandatory;
  background-color: #2f2f2f;
}

/* Full Screen Vertical Snap */

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-of-type(even) {
  color: white;
  background: black;
}

section:nth-of-type(odd) {
  color: black;
  background: white;
}
.container-fluid {
  height: 100vh;
}

.center-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Full Screen Vertical Snap*/


p {
  font-size: 16px;
}

.bg-background {
  background-color: #2f2f2f; /* blackish */
  color: #ffffff;
}
.bg-about {
  background-color: #2f2f2f; /* blackish */
  color: #ffffff;
  height: 95vh;
}
.bg-about-2 {
  background: linear-gradient(to right, #2f2f2f 60%, var(--burntsienna) 30%);
  color: #ffffff;
}

.bg-project {
  background: linear-gradient(to right, #2f2f2f 60%, var(--burntsienna) 30%);
  color: #ffffff;
  height:110vh;
}

.bg-contact {
  background-color: #2f2f2f; /* blackish */
  color: #ffffff;
  height: 90vh; /* TODO this is how you make one section bleed into another, have the prior vh offset with the next one
                    i.e. 110vh for project and 90vh for contact*/
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #e74c3c !important;
}

.margin {margin-bottom: 45px;}


/* About Me Text Animation */

.textScrollAnimation {
  overflow:hidden;
  position: relative;
  height:40px;
  font-weight: lighter;
}
span1 {
  color: var(--burntsienna);
  display: inline-block;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  -webkit-animation: move 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
}

@keyframes move {
0%  { top: 0px; }
20% { top: -40px; }
40% { top: -80px; }
60% { top: -120px; }
80% { top: -160px; }
}

/* End About Me Text Animation */


/* Input Contact Form CSS Settings */
.input{
  position: relative;
  padding: 30px 0px;
  /*need height to be 100%*/
}
input{
  font-size: max(2vw, 14px);
  padding:5px;
  font-weight: 700;
  display:block;
  border:none;
  color:var(--darkblue);
  background-color: #2f2f2f;
  border-bottom:1px solid white;
}
input:focus { outline:none; }
.labelword{
  color:var(--darkblue);
  font-size: max(2vw, 14px);
}
.label{
/*This pushes words up and down from form*/
position:absolute;
color:var(--darkblue);
font-size:  max(2vw, 14px);
left:5px;
top:30px;
pointer-events: none;
transition:0.2s ease-in-out; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
    
}
  
input.fill:focus ~ label, input.fill:valid ~ label {
  transform:translateY(-30px);
}
/* End Input Contact Form CSS Settings */

/* Overlapping Horizontal Slideshow Settings */

::-webkit-scrollbar {
  background-color: #1e1f26;
  height: 20px;
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: #383d4d;
  border-radius: 99em;
  border: 6px solid #1e1f26;
}

h1 {
  font-size: clamp(20px, 2.5vw, 36px);
  color: rgba(#fff, 0.8);
  font-weight: 600;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

ul.ul-project {
  padding: 0;
  margin: 0;
  display: block;
  width: 50%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  scroll-behavior: smooth;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li.li-project{
  
  position: sticky;
  left: 0;
  
  display: inline-block;
  text-align: center;
  background-color: #16171f;
  color: #9b9dad;
  padding-bottom: 1.5rem;
  font-size: clamp(18px, 2.5vw, 22px);
  box-shadow: -10px 0 30px 0 rgba(#e74c3c, 0.25);
  margin-left: -4px;
}
/* end horizontal slideshow */

/* Submit Button */

.button-52 {
  color:var(--blackish);
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: var(--burntsienna);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/* End Submit Button */


/* Flower Animation 

.container{
  padding-top: 4%;
}
.row-flower{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  width: 150px;
  height: 150px;
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  animation: 2s scale linear;
}
#box1{
  transform-origin: bottom right;
  border-radius: 0px 100px 0px 100px;
  background: linear-gradient(160deg, #ee0979 0%, #ff6a00 100%);
  }
#box2{
  transform-origin: bottom left;
  border-radius: 100px 0px 100px 0px;
  background: linear-gradient(220deg, #ee0979 0%, #ff6a00 100%);
  }
#box3{
  transform-origin: top right;
  border-radius: 100px 0px 100px 0px;
  background: linear-gradient(30deg, #ee0979 0%, #ff6a00 100%);
  }
#box4{
  transform-origin: top left;
  border-radius: 0px 100px 0px 100px;
  background: linear-gradient(320deg, #ee0979 0%, #ff6a00 100%);
  }
  .circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #ffef00;
    z-index: 100;
    margin-top: -298px;
  }
.line{
  background: #0f9b0f;
  margin-top: -130px;
  width: 25px;
  height: 310px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.pot{
  background: #7a2828;
  border-radius: 0px 0px 40px 40px;
  width: 250px;
  height: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@keyframes scale {
  0% {
    scale: 0.1;
  }
  100% {
    scale: 1;
  }
}

/* End Flower Animation */