* {
  font-family: "Open Sans";
}
body {
  line-height: 1.8;
  font-weight: 500;
  color: #f5f6f7;
}

p {
  font-size: 16px;
}


.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d; /* Grey */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f; /* blackish */
  color: #ffffff;
}

.bg-5 {
  background-color: #ffffff; /* blue */
  color: #555555;
}

.bg-6 {
  background: -webkit-radial-gradient(#205983, #0A2742);
  background: radial-gradient(#205983, #0A2742);
  color: #ffffff;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.margin {margin-bottom: 45px;}


/* About me text animation */

h3 {
  overflow:hidden;
  position: relative;
  height:27px;
}
span1 {
  position: relative;
  color: #e74c3c;
  top: 0;
  left: 0;
  -webkit-animation: move 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
}

@keyframes move {
0%  { top: 0px; }
20% { top: -27px; }
40% { top: -54px; }
60% { top: -81px; }
80% { top: -108px; }
}