:root {
  --darkblue: #033085;
  --lightblue: #55A1D3;
  --orange: #F27B1F;
  --yellow: #F9B316;
  --gray: #999999;
}

html,body {
  font-family: 'Segoe UI Symbol', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  overflow-x: hidden; 
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: transparent;
}

#background{
  background-color: white;
  padding: 5% 5%;
}

img{
  width:100%;
  height:100%;
  object-fit:fill;
}

/* divs */
#main{
  background-color: white;
  padding:5%;
  box-shadow: 0 4px 8px 0 var(--lightblue), 0 6px 20px 0 var(--lightblue);
}

#about{
  background-color: white;
  padding:5%;
  box-shadow: 0 4px 8px 0 var(--lightblue), 0 6px 20px 0 var(--lightblue);
}

#projects{
  background-color: white;
  box-shadow: 0 4px 8px 0 var(--lightblue), 0 6px 20px 0 var(--lightblue);
}

#contact{
  background-color: white;
  box-shadow: 0 4px 8px 0 var(--lightblue), 0 6px 20px 0 var(--lightblue);
}

/* Text*/
h1{
  font-size: 20px;
  color:var(--darkblue);
}
h2 {
  font-size: max(5vw, 24px);
  color:var(--darkblue);
}


/* Index Navigation Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}
  
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--lightblue);
  color: white;
}
