<!DOCTYPE html>
<html>
   <head>
      <title>Bike Racks in NYC</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" type="text/css" href="/style.css" /> 
   </head>
   <body>
    <div id="header">
        <header style="align-content: center; align-items: center;">
            <img src="/images/skyline1.png" style="object-fit: cover; width: 36%; height: 20%; align-items: center;" alt="skyline">
        </header>
    </div>

    

    <div id="background">
        <div id="main">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/BikeRacks/templates/smallHoop.html">Small Hoop</a></li>
                <li><a class="active" href="/BikeRacks/templates/largeHoop.html">Large Hoop</a></li>
                <li><a href="/BikeRacks/templates/uRack.html">U-Rack</a></li>
                <li><a href="/BikeRacks/templates/waveRack.html">Wave Rack</a></li>
                <li><a href="/tabularDataView/tabularDataView.html">Bike Rack Data Table</a></li>
            </ul>

            <h2 style="text-align:left"><b><a>Bike Rack Information</a></b></h2>

            <h1> <a id="about"> Large Hoop </a></h1>
            <h1> Large hoop bike racks makeup the 3rd most in sheer number, with 244 bike racks found throughout the burroughs</h1>
            <h1> The design is a very elegant, a large circular ring with a middle line for bikes to safely be latched onto it.</h1>
            <h1> </h1>
 
            <div id="rack1">
                <img src="/images/largeHoop1.jpg" alt="largeHoop1">
                <div class="wordblock">
                    <p style="margin-top:0;"><b></b></p>
                </div>
            </div>

            <div id="rack2">
                <img src="/images/largeHoop2.jpg" alt="largeHoop2">
                <div class="wordblock">
                    <p style="margin-top:0;"><b></b></p>
                </div>
            </div>

            <div id="rack3">
                <img src="/images/largeHoop3.jpg" alt="largeHoop3">
                <div class="wordblock">
                    <p style="margin-top:0;"><b></b></p>
                </div>
            </div>

            <div id="rack4">
                <img src="/images/largeHoop4.jpg" alt="largeHoop4"> 
                <div class="wordblock">
                    <p style="margin-top:0;"><b></b></p>
                </div>
            </div>
        </div>
    </div>
   </body>
</html>