<!DOCTYPE html>
<html>
   <head>
      <title>Bike Racks in NYC</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" type="text/css" href="/style.css" /> 
   </head>
   <body>
    <div id="header">
        <header style="align-content: center; align-items: center;">
            <img src="/images/skyline1.png" style="object-fit: cover; width: 36%; height: 20%; align-items: center;" alt="skyline">
        </header>
    </div>

    

    <div id="background">
        <div id="main">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="#news">News [Coming Soon]</a></li>
                <li><a href="/BikeRacks/templates/smallHoop.html">Small Hoop</a></li>
                <li><a href="/BikeRacks/templates/largeHoop.html">Large Hoop</a></li>
                <li><a href="/BikeRacks/templates/uRack.html">U-Rack</a></li>
                <li><a class="active"  href="/BikeRacks/templates/waveRack.html">Wave Rack</a></li>
                <li><a href="/tabularDataView/tabularDataView.html">Bike Rack Data Table</a></li>
            </ul>

            <h2 style="text-align:left"><b><a>Wave Rack</a></b></h2>

            <h1> <a id="about"> About: </a></h1>
            <h1> The Wave Rack comes in last in terms of number found throughout the boroughs - coming in at 56, you'll be hard pressed to catch this wave (heh) of bike racks.</h1>
            <h1> The design of the wave rack is very similar to the U rack, a wave rack can be described as U - racks attached together, making a wave.</h1>
            <h1> To find out your nearest wave rack location and more, head to the <a href=#bikeData>bottom</a> of the page!</h1>
 
            <div id="rack1">
                <img src="/images/waveRack1.png" alt="waveRack1">
                <div class="wordblock">
                    <p style="margin-top:0;"><b></b></p>
                </div>
            </div>

            <div id="rack2">
                <img src="/images/waveRack2.jpg" alt="waveRack2">
                <div class="wordblock">
                    <p style="margin-top:0;"><b></b></p>
                </div>
            </div>

            <div id="rack3">
                <img src="/images/waveRack3.jpeg" alt="waveRack3">
                <div class="wordblock">
                    <p style="margin-top:0;"><b></b></p>
                </div>
            </div>

            <div id="rack4">
                <img src="/images/waveRack4.jpg" alt="waveRack4"> 
                <div class="wordblock">
                    <p style="margin-top:0;"><b></b></p>
                </div>
            </div>

            <div style="background-color: white;">
                <table id="bikeData">
                    <thead>
                        <tr>
                            <th>Object ID</th>
                            <th>Borough Name</th>
                            <th>Rack Address</th>
                            <th>Bike Rack Type</th>
                            <th>Date Installed</th>
                        </tr>
                        <tbody>
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <script>
        $.ajax({
            type     : "GET",
            url      : 'https://data.cityofnewyork.us/resource/au7q-njtk.json',
            dataType : 'json',
            success  : function(data) {
        
                data.forEach(function(post) {
                    var td1 = $('<td />', {html : post.objectid}),
                        td2 = $('<td />', {html : post.boro_name}), 
                        td3 = $('<td />', {html : post.ifoaddress}), 
                        td4 = $('<td />', {html : post.assetsubty}),
                        td5 = $('<td />', {html : post.date_inst}),
                        tr  = $('<tr />');
                    $( '#bikeData' ).append( tr.append(td1, td2, td3, td4, td5,) );
                });
                let table = new DataTable('#bikeData', 
                {
                    "search": {  
                        "search": "Wave Rack"
                    }
                });          
            }
        });
    </script>
   </body>
</html>