<!DOCTYPE html>
<html>
   <head>
      <title>Bike Racks in NYC</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" type="text/css" href="style.css" /> 
   </head>
   <body>
      <div class=whitemain>
        <h2 style="text-align:left"><b><a>Bike Rack Information</a></b></h2>
        <p style="padding-bottom:20px; text-align: left;">Welcome! Here you will find information about NYC's Bike Racks</p>

        <div class="column">
            <div class="imgBlock">
                    <a href="/BikeRacks/templates/waveRack.html"> <img src="images/waveRack.png" alt="waveRack"> </a>
            </div>
            <div class="wordblock">
                <p style="margin-top:0;"><b></b></p>
                <h1>Wave Rack</h1> 
            </div>
        </div>

        <div class="column">
            <div class="imgBlock">
                    <img src="images/waveRack.png" alt="waveRack">
            </div>
            <div class="wordblock">
                <p style="margin-top:0;"><b></b></p>
                <h1>U-Rack</h1> 
            </div>
        </div>

        <div class="column">
            <div class="imgBlock">
                    <img src="images/waveRack.png" alt="waveRack">
            </div>
            <div class="wordblock">
                <p style="margin-top:0;"><b></b></p>
                <h1>Large Hoop</h1> 
            </div>
        </div>

        <div class="column">
            <div class="imgBlock">
                    <img src="images/waveRack.png" alt="waveRack">
            </div>
            <div class="wordblock">
                <p style="margin-top:0;"><b></b></p>
                <h1>Small Hoop</h1> 
            </div>
        </div>        
        
    </div>


   </body>
</html>